<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <h1>Is Your Email Secure?</h1>
         <p>Enter the email to find out if it's been part of a data breach.</p>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/110/three.min.js"></script>

    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <h1>Check if your email address is in a data breach</h1>
        <form id="email-form">
            <input type="email" id="email" name="email" placeholder="Enter your email address" required>
            <button type="submit">Check Email</button>
        </form>
        <div id="result"></div>
    </div>
    <script src="/static/scripts.js"></script>
</body>
</html>
